.list{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    border: 1px solid gray;
    width: 100%;
    height: calc(100vh - 43px);
    border-top: unset;
}

.list__item{
    margin-left: 2rem;
    margin-top: 2rem;
}