.container__categories{
    display: flex;
    justify-content: space-between;
}

.list__categories{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.Input {
    margin-right: 1rem;
    padding-left: 5px;
}

.list__categories--item {
    background-color: darkblue;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

